html {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  min-height: 100vh;
  background: url(fondos/fondo1.jpeg) center center;
  background-size: cover;
}
nav {
  background-color: rgba(245, 245, 220, 0.9);
  padding: 15px 30px;
  border-radius: 10px;
  width: fit-content;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}


.contenedor{
    text-align: center;
    padding: 20px;
    background-color: beige;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 40px auto;  
    max-width: 600px;

    opacity: 0.9;
}

.terror{
    width: 300px;
    height: 300px;
}

.ficcion{
    width: 300px;
    height: 300px;
}

.manga{
    width: 300px;
    height: 300px;
}