@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bungee&display=swap');
body {
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 20px;
}
.servicio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 20px;
  margin-top: 20px;
}

.servicio {
background: white;
padding: 15px;
border-radius: 10px;
box-shadow: 0 0 8px rgb(238, 235, 83);
text-align: center;
}

.servicio h3 {
 color: rgb(67, 56, 145);
}
.servicio p {
 color: #333;
 font-size: 14px;
 line-height: 1.6;
}

.lista-servicios li {
  margin: 10px 0;
  font-size: 18px;
}


.servicios.html {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  min-height: 100vh;
  background: black center;
  background-size: cover;
}
nav {
  background-color: rgba(245, 245, 220, 0.9);
  padding: 15px 30px;
  border-radius: 10px;
  width: fit-content;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.titulo{
  color:beige;
}

.contacto,html {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  min-height: 100vh;
  background: black center;
  background-size: cover;
}
nav {
  background-color: rgba(245, 245, 220, 0.9);
  padding: 15px 30px;
  border-radius: 10px;
  width: fit-content;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}